.number-field{
    display: flex;
    gap: 12px;

    & .numbers{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    & .numbers label {
        font: var(--label-md);
        color: var(--content-pr);
        text-transform: uppercase;
        text-align: center;
    }

    & .numbers input{
        background-color: var(--bg-secondary);
        border-radius: 0.5rem;
        border: 0.125rem solid transparent;
        padding: 0.25rem 0.5rem;
        width: 5rem;
        color: var(--content-pr);
        font: var(--display-sm);

        &:-webkit-autofill {
            box-shadow: 0 0 0 1000px var(--bg-secondary) inset !important;
            -webkit-text-fill-color: var(--content-pr) !important;
            border: 0.125rem solid transparent !important;
            border-radius: .5rem !important;
            transition: background-color 5000s ease-in-out 0s;
            }


        &:hover{
            background: 
            linear-gradient(var(--bg-secondary),var(--bg-secondary)) padding-box,
            linear-gradient(90deg,rgba(119, 192, 175, 1) 0%, rgba(209, 220, 151, 1) 14%, rgba(233, 169, 179, 1) 32%, rgba(213, 134, 224, 1) 65%, rgba(145, 161, 250, 1) 84%) border-box;
            border: 2px solid transparent;
            border-radius: 8px;
        }

        &:focus{
            outline: none;
            background: 
            linear-gradient(var(--bg-secondary),var(--bg-secondary)) padding-box,
            linear-gradient(90deg,rgba(119, 192, 175, 1) 0%, rgba(209, 220, 151, 1) 14%, rgba(233, 169, 179, 1) 32%, rgba(213, 134, 224, 1) 65%, rgba(145, 161, 250, 1) 84%) border-box;
            border: 3px solid transparent;
            border-radius: 8px;
           
        }
    }
}
