.number-field{
    display: flex;
    gap: 12px;

    & .numbers{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    & .numbers label {
        font: var(--label-md);
        color: var(--content-pr);
        text-transform: uppercase;
        text-align: center;
    }

    & .numbers input{
        background-color: var(--bg-secondary);
        border-radius: 8px;
        border: 2px solid transparent;
        padding: 4px 8px;
        width: 70px;
        color: var(--content-pr);
        font: var(--display-sm);

        &:hover{
            background: 
            linear-gradient(var(--bg-secondary),var(--bg-secondary)) padding-box,
            linear-gradient(90deg,rgba(119, 192, 175, 1) 0%, rgba(209, 220, 151, 1) 14%, rgba(233, 169, 179, 1) 32%, rgba(213, 134, 224, 1) 65%, rgba(145, 161, 250, 1) 84%) border-box;
            border: 2px solid transparent;
            border-radius: 8px;

            
        }

        &:focus{
            outline: none;
            background: 
            linear-gradient(var(--bg-secondary),var(--bg-secondary)) padding-box,
            linear-gradient(90deg,rgba(119, 192, 175, 1) 0%, rgba(209, 220, 151, 1) 14%, rgba(233, 169, 179, 1) 32%, rgba(213, 134, 224, 1) 65%, rgba(145, 161, 250, 1) 84%) border-box;
            border: 3px solid transparent;
            border-radius: 8px;
           
        }


    }
}
